body {
    font-size: 20px;
    margin: 0;
}

#logo-booleaner {
    background-image: url("../img/pattern.png");
    background-color: rgb(63, 139, 235);
    height: 140px;
    position: relative;
}

#logo-booleaner img {
    height: 70px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

main {
    margin-left: 10px;
}

main .title {
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    padding-top: 20px;
}

#article-details {
    color: gray;
    font-size: 25px;
    line-height: 20px;
    padding-top: 10px;
}

#article-details .author {
    color: rgb(63, 139, 235);
}

#article-details .date {
    font-size: 15px;
}

figure {
    margin: 0;
}

figure img {
    height: 450px;
    margin-top: 20px;
}

figcaption {
    font-size: 15px;
}

table {
    border-spacing: 0;
}

thead {
    background-color: rgb(72, 183, 252);
    color: white;
    text-align: left;
}

td {
    width: 350px;
}

.major-table-column {
    width: 650px;
}

.blue-row {
    background-color: lightblue;
}
